
  @import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,200;0,400;0,900;1,200&family=Poppins:ital,wght@1,300&family=Raleway:ital,wght@1,400;1,500&family=Roboto:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.container{
    margin: 0 auto;
    width: 80%;
}
h1{
    color: black;
    margin:0 auto;
    text-align: center;
    margin:50px;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}
h2{
    margin:0 auto;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}
.box{
    background-color: rgb(174 145 102);
    width: 55%;
    margin: 0 auto;
}
.form{
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    gap:1rem;
}
input{
    padding: 10px;
    flex-wrap: wrap;
}
input::placeholder{
    color: gray;

}
.btn-mod{
    background-color: #010249;
     padding: 0.5rem 1.8rem;
     color: #fff;
     font-size: 18px;
     position: relative;
     /* box-shadow: 5px 5px 7px 0px #111115; */
     z-index: 1;
     /* margin-bottom: -2%; */
}
.btn-mod::before{
    /* content: "abcd"; */
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    /* color: black; */
    left: 0;
    right: 0;
    bottom: 0;
   transform: scaleX(0);
   transform-origin: left;
   transition: 1s;
   z-index: -2; 
}
.btn-mod:hover::before{
      transform: scaleX(1);
      /* color: black; */
}
.btn-mod:hover{
    border: solid 3px var(--bgOrange);
    color: black;
}
.post{
    z-index: 1;
    width: 50%;
    margin: 0 auto;
}
.post>li{
    /* border:1px solid black; */
    margin:0.5rem;
}

@media (max-width:800px) {
    .box{
        width: 80%;
    }
    .post{
        width: 80%;
    }
}
@media (max-width:550px) {
    .box{
        width: 95%;
    }
    .post{
        width: 95%;
    }
}
@media (max-width:400px) {
    .box{
        width: 98%;
    }
    .post{
        width: 90%;
    }
}

